fastapi
mangum
python-multipart

SQLAlchemy
pymysql

bcrypt
python-jose[cryptography]
pydantic
pydantic[email]

apscheduler

pandas
numpy
openpyxl

Pillow

reportlab


boto3
cloudinary


google-generativeai
google-api-python-client

pytz

requests

redis

plotly
kaleido

typing-extensions
python-dotenv

qrcode[pil]

setuptools